{% extends 'blog/master.html' %}
{% block title %} Registation Page {% endblock %}

{% block body %}


<div class="container">

<h1>{{msg}}</h1>
    <div class="row">
        <div class="col-md-6 col-lg-6 col-xl-6 mx-auto">
<form action="getdata" method="get">
    <div class="form-group">
    <label for="uname">Username</label>
    <input type="text" class="form-control" id="ename" name="ename">
  </div>
    <div class="form-group">
    <label for="uname">Eloc</label>
    <input type="text" class="form-control" id="eloc" name="eloc">
  </div>
    <div class="form-group">
    <label for="uname">Esal</label>
    <input type="text" class="form-control" id="esal" name="esal">
  </div>
    <input type="submit" class="btn btn-primary" name="sub" value="Insert">
    <input type="submit" class="btn btn-primary" name="sub" value="Display">
   <!-- Enmae:<input type="text" name="ename"><br>
    Eloc: <input type="text" name="eloc"><br>
    Esal:<input type="text" name="esal"> <br>
    <input type="submit" name="sub" value="Insert">
    <input type="submit" name="sub" value="Display"> -->
</form>
        </div>
    </div>
</div>

<div class="container" id="a">
    <div class="row">
                <div class="col-md-6 col-lg-6 col-xl-6 mx-auto">

<table border="1" cellpadding="10" class="table">
      <thead>

    <tr>
        <th scope="col">Ename</th>
        <th scope="col">Eloc</th>
        <th scope="col">Esal</th>
        <th>Action</th>
        <th>Action2</th>
    </tr>
      </thead>

    {% for x in data %}
        <tr>

            <td>{{x.ename}}</td>
            <td>{{x.eloc}}</td>
            <td>{{x.esal}}</td>
            <td><a href="{% url 'action'%}?name={{x.ename}}" class="btn btn-danger">Delete</a>
            <td><a href="{% url 'action2'%}?name={{x.ename}}">Edit</a></td>
        </tr>
    {% endfor %}
</table>
                </div>
    </div>
</div>

{% endblock %}
